<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Nicole Lovas{% endblock %}</title>
	</head>
    <meta charset="utf-8" />
	{% load static %}
	{% block extra_head %}
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/myCss.css' %}" rel="stylesheet" type="text/css"/>
	
	{% endblock %}
	<body>
	<div class = "container">
		<div class = "page-header header-box rel">
		<!--<div class = "row abs"> -->
		<h1 class = "huge-font sit-bottom">
		{%block header_words %}Nicole Lovas {% endblock %}
		</h1>
		<!--</div> -->
		</div>
	</div>
	
	<div class = "container">
		<div class = "row" >
		<!--<div class = "col-lg-3 col-md-3 col-sm-3"></div> -->
		<div class = " offset-lg-3 offset-md-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class = "btn-group btn-group-lg" role = "group">
			<a class = "btn btn-default foreground-btn" href = "/home">Home</a><a class = "btn btn-default foreground-btn" href = "/programming">Programming</a><a class = "btn btn-default foreground-btn" href = "/art">Art</a><a class = "btn btn-default foreground-btn" href = "/contact">Contact</a>
		</div>
		</div>
		</div>
	</div>
	
	<div class = "container brdr border-top-0 rounded foreground">
	
	{%block body_block %}
	Default text.
	{% endblock %}
	
	</div>
	
	</body>
</html>