{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{%block body_block %}


<div class ="offset-lg-2 offset-md-2 offset-sm-1 col-lg-8 col-md-5 col-sm-12 col-xs-12">
<span class = "medium-font">Email:</span> nlovas@ualberta.ca 
<br/><br/>
<span class = "medium-font">Phone:</span> 780-897-9010
<br/><br/>
<span class = "medium-font">LinkedIn:</span> <a href = "www.linkedin.com/in/nicole-lovas-aa8956148">www.linkedin.com/in/nicole-lovas-aa8956148</a>
<br/><br/>
<span class = "medium-font">Github:</span> <a href = " https://github.com/nlovas">https://github.com/nlovas</a>

</div>

{% endblock %}