{% extends 'base.html' %}
{%block body_block %}
<div class = "row">
<div class ="offset-lg-2 offset-md-2 offset-sm-2 col-lg-4 col-md-5 col-sm-12 col-xs-12">
{% load static %}
<img class = "rounded" src="{% static 'images/faceresized.jpg' %}" alt="Photo of Nicole"/>
</div>
<div class = "col-lg-6 col-md-5 col-sm-12 col-xs-12 marg">
Hello and welcome to my portfolio. My name is Nicole Lovas.
 <br/><br/>I am an Edmonton-based Software Developer. I graduated from the University of Alberta in 2017 with both a degree in Computing Science and a certificate in Computer Game Development.
 I am both an artist and a programmer, and enjoy learning more in both fields.
 <br/>I am knowledgeable with Java, Javascript, HTML, CSS/Bootstrap, AJAX, Python, C, SQL,
 some C++, JSP, and JDBC. I am familiar with the Unix command line and using Git for software version control.
 <br/>I enjoy working on art projects, attending anime conventions, and playing video games in my free time.
</div>

</div> <!-- end row -->
{% endblock %}