{% extends 'base.html' %}
{% block title %}Programming Projects{% endblock %}


{%block body_block %}


{% load static %}
{% block static_imports %}
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/programming.js' %}"></script>
{% endblock %}

<script type="text/javascript">
var programming = [];
var tmp;
</script>

{%for project in programmingprojects%}
<div class = "PP{{project.pk|safe}}">
	<br/><h2 class ="titleofPP{{project.pk|safe}}">{{project.title}}</h2>
	<div class = "workDateofPP{{project.pk|safe}}">{{project.workDate}}</div>
<div class="languagesofPP{{project.pk|safe}}">{{project.languages}}</div>
	<div class="sourcecodeofPP{{project.pk|safe}}"><a href = "{{project.sourceCode}}">Source Code</a></div>
    <br/>
    <div class="imagesofPP{{project.pk|safe}}">
	{%for image in images%}
      {% if image.fk == project.pk%}
		{% load static %}

		<img src ="../static/images{{image.imageurl}}" alt="Screenshot of {{project.title}}" class="imgSize"/>
      {% endif %}
	{% endfor %}
    </div>
  </div>
<!-- give data to javascript to format better-->
<script type="text/javascript">
 tmp = {
            'title': "{{project.title|safe}}",
			'workDate': "{{project.workDate|safe}}",
			'languages': "{{project.languages|safe}}",
			'myParts': "{{project.myParts|safe}}",
			'sourceCode': "{{project.sourceCode|safe}}",
			'desc': "{{project.desc|safe}}"
  }
  programming.push(tmp);
  if(programming.length == {{programmingprojects|length}}){
   $(document).ready(format(programming));
  }

   //$(document).ready(format(programming));
   //$(window).on('load', format(programming));
</script>


{% endfor %}





{% endblock %}