{% extends 'base.html' %}
{% block title %}Programming Projects{% endblock %}


{%block body_block %}


{% load static %}
{% block static_imports %}
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/programming.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}



<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">

          <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
        <div class="modal-body">
          <img class = "img-responsive" src ="../static/images/faceresized.jpg" alt="FACE"/>
        </div>

      </div>

  </div>

<script type="text/javascript">
var programming = [];
var tmp;
var pImages = [];
var imageSet = [];
</script>

{%for project in programmingprojects%}

<div class = "PP{{project.pk|safe}}">
	<br/><h2 class ="titleofPP{{project.pk|safe}}">{{project.title}}</h2>
	<div class = "workDateofPP{{project.pk|safe}}">{{project.workDate}}</div>
<div class="languagesofPP{{project.pk|safe}} small">{{project.languages}}</div>
	<div class="sourcecodeofPP{{project.pk|safe}}"><a href = "{{project.sourceCode}}">Source Code</a></div>
    <br/>
    <!--<div class="imagesofPP{{project.pk|safe}}">-->
	{%for image in images%}
      {% if image.fk == project.pk%}
		{% load static %}
    <script type="text/javascript">
        //put images into a form I can use
        imageSet.push("{{image.imageurl|safe}}");
    </script>
		<!--<img src ="../static/images{{image.imageurl}}" alt="Screenshot of {{project.title}}" class="imgSize"/> -->
      {% endif %}
	{% endfor %}
   <!-- </div>-->
  </div>

<script type="text/javascript">
        //append list of images to master list, making a 2D array
            pImages.push(imageSet);
            imageSet = [];

        //give data to javascript to format better
 tmp = {
            'title': "{{project.title|safe}}",
			'workDate': "{{project.workDate|safe}}",
			'languages': "{{project.languages|safe}}",
			'myParts': "{{project.myParts|safe}}",
			'sourceCode': "{{project.sourceCode|safe}}",
			'desc': "{{project.desc|safe}}"
  }
  programming.push(tmp);
  if(programming.length == {{programmingprojects|length}}){
   $(document).ready(format(programming,pImages));
  }

   //$(document).ready(format(programming));
   //$(window).on('load', format(programming));
</script>


{% endfor %}





{% endblock %}