{% extends 'base.html' %}
{% block title %}Programming Projects{% endblock %}


{%block body_block %}
<!-- give data to javascript to format better-->
<script type="text/javascript">
    programming = JSON.parse({{ programmingprojects|safe }});
	alert(programming[0]);
    //format(programming);
</script>

{% load static %}
{% block static_imports %}
  <!--<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'js/programming.js' %}"></script>
{% endblock %}



{%for project in programmingprojects%}
	<br/><h2>{{project.title}}</h2>
	<br/>{{project.workDate.year}}
	<br/>{{project.languages}}
	<br/>{{project.myParts}}
	<br/><a href = "{{project.sourceCode}}">Source Code</a>
	<br/>{{project.desc}}
	{%for image in images%}
		{% if image.project == project %}
		{% load static %}
		<br/><img src ="../static/images{{image.image.url}}" alt="Screenshot of {{image.project.title}}"/>
		{% endif %}
	{% endfor %}
{% endfor %}




{% endblock %}