body{
		background-color: #8eafe5;
}

.foreground{
	background-color: #cee0ff;
}

.foreground-btn{
	background-color: #cee0ff;
}

.foreground-btn:hover{
	background-color: #afbdd6;
}

.brdr{
	border: 1px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	padding: 3em;
}

.abs {
	position: absolute;
	width: 100%;
	height: 100%;
}

.rel{
	position: relative;
}

.huge-font{
	font-size: 5em;
}

.medium-font{
	font-size: 1.5em;
}

.sit-bottom{
	margin-top: 2rem;
}

.header-box{
padding: 2rem 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
}

.marg{
	margin-top: 3em;
}